<h1>Rent a cat!</h1>

<table>
  <tr>
    <th>Cat Name</th>
    <th>Cat ID</th>
    <th>Start Date</th>
    <th>End Date</th>

  </tr>
  <% @cat_rental_requests.all.each do |rental_request| %>
    <tr>
      <td width=100px align=center>
        <%=rental_request.cat.name%>
      </td>
      <td width=100px align=center>
        <%=rental_request.cat_id%>
      </td>
      <td width=200px align=center>
        <%=rental_request.start_date%>
      </td>
      <td width=200px align=center>
        <%=rental_request.end_date%>
      </td>
    </tr>
  <% end %>
</table>