<h1 align=center>Hello Cats!</h1>

<table align=center>
  <tr>
    <th align=center> Name </th><th></th>
    <th align=center> Link </th>
  </tr>
<% @cats.each do |cat| %>
 <tr>
   <td align=center>
     <%= cat.name %>
   </td>
   <td width=10px></td>
   <td align=center>
   <%= link_to "Check out #{cat.name}, it is only #{cat.age} years old!",          cat_path(cat[:id]) %>
   </td>
 </tr>
<% end %>
</table>
